
*,*:before,*:after { box-sizing: border-box; }
body {
  // Imagem adicionada por nós.
  background-image: url("https://img.wallpapersafari.com/tablet/2560/1700/55/63/CJBO1a.jpg");
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  //---------------------//.
}

p {
  // Fonte e cor customizada por nós.
  font-family: 'Russo One', sans-serif;
  color: #3a7fd8;
  //---------------------//
  font-weight: 500;
}

.config p {
  font-size: x-large;
}

.config {
  position: relative;
}

.control-wrap {
  float: left;
  margin: -15px 15px;
}

.logo img {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 70px;
}

.instructions p {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}